/*
* this grid is made out of the float property
* used clear fix mixin 
* used the calc() function and substructed the margin right to have a equally justified columns 
*/

// this is a row
.row {
    max-width: $grid-width;
    margin: 0 auto;
  
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
  
    @include clearfix;
  
    // selecting all classes starting with  'col-'
    [class^="col-"] {
      float: left;
  
      &:not(:last-child) {
        margin-right: $gutter-horizental;
      }
    }
  
    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizental}) / 2);
    }
  
    .col-1-of-3 {
      width: calc((100% - #{$gutter-horizental} * 2) / 3);
    }
  
    .col-1-of-4 {
      width: calc((100% - #{$gutter-horizental} * 3) / 4);
    }
  }
  