.btn {
  &:link,
  &:visited {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 4rem;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    position: relative;
  }

  &--white {
    color: $grey-light;
    background-color: white;

    &::after {
      background-color: white;
    }
  }

  &--animated {
    animation: moveUp 0.5s ease-out 1s;
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: $Dark-green;
    padding: 3px;
    border-bottom: 1px solid $Dark-green;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $Dark-green;
    color: $light-dark;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.25);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.25);
  }
}
