.center-div {
    text-align: center;
}

.display-relative {
    position : relative; 
}

.margin-bottom-s {
    margin-bottom: 2rem;
}
.margin-bottom-m {
    margin-bottom: 4rem;
}
.margin-bottom-h {
    margin-bottom: 8rem;
}
